.instructions {
  height: 100vh;
  width: 100vw;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);

  display: flex;
  flex-direction: column;
}

.instructions h1 {
  color: black;
  font-size: 35px;
  margin: 20px;
}
.instructions .instructions-text {
  margin: 20px auto;
  height: 350px;
  overflow-y: auto;
  width: 85%;
  background-color: #fff;
  padding: 25px;
}

.instructions-text p {
  font-size: 25px;
}

.instructions .accept {
  padding-left: 10%;
  display: inline;
}

.instructions .start {
  position: fixed;
  right: 10%;
  bottom: 20%;
}
