@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Inter:wght@300&display=swap");
.summary1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  background-image: url("../Images/bluebg.jpg");
}
h1 {
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 50px;
  margin-top: 30px;
}
.summary1 .rowone {
  width: 100%;
  height: 90%;
  overflow: auto;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}
.columnone {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  box-shadow: 8px 8px 30px black;
  border-radius: 15px;
  margin: 20px;
  background-color: silver;
}
.columnone .sessiono {
  height: 130px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.columnone .content {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sessiono .circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 23px;
}
.sessiono .one {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eaeaea;
  border-style: solid;
}
.sessiono .two {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eaeaea;
  border-style: solid;
}

.sessiono .three {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eaeaea;
  border-style: solid;
}

.content .con {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  line-height: 35px;
}
.divider {
}
