.display-data {
  height: 100vh;
  width: 100vw;
  background-image: url("../Images/iStock-1181462219-1-1-1024x576.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.display-data .input-fields {
  height: 70px;
  width: 100%;
  /* background-color: #364eaf; */
  margin-top: 32px;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.input-fields .input:nth-child(1) {
  height: 100%;
  width: 30%;
}

.input-fields .input:nth-child(2) {
  height: 100%;
  width: 70%;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.input .MuiTextField-root {
  background-color: #fff;
  height: auto;
  width: 15rem;
  color: #1e2b60;
  border-radius: 5px;
}

.display-data .table {
  width: 80%;
  background-color: #fff;
  height: 400px;
  position: relative;
  top: 50px;
  margin: 0 auto;
  overflow-y: scroll;
}

.table table {
  width: 99%;
  height: fit-content;
  margin: 0 auto;

}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

.dexcel{
  position: fixed;
  text-align: center;
  left: 0%;
  bottom: 0%;
  margin: 20px;
  
}
.dexcel .MuiButton-root {
  width: 175px;
}
.dpdf .MuiButton-root {
  width: 175px;
}
.dpdf{
  position: fixed;
  text-align: center;
  right: 0%;
  bottom: 0%;
  margin: 20px;
}
table thead{
  width: 100%;
  background-color: aqua;
  text-align: center;
}

thead h1{
  width: 100%;
}