.instructions{
    height: 100vh;
    width: 100vw;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    display: flex;
    flex-direction: column;
}

.instructions h1{
    color: black;
    font-size: 35px;
    margin: 20px;
}

.instructions .instructions-text{
    margin: 20px auto;
    height: 350px;
    overflow-y: auto;
    width: 85%;
    background-color: #fff;
}

.instructions-text p{
    font-size: 25px;
}

.instructions .accept{
    padding-left: 10%;
}

.instructions .start{
    position: fixed;
    right: 10%;
    bottom: 25%;
}