.main{
    background-color: black;
}
.cont
{
    background-color: hsl(0, 89%, 40%);
    height: 50px;
    width: 100%;
    display: flex;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont h1{
    color: red;
}
.grid  
{
    height: 100%;
    width: 25%;
    background-color: rgb(10, 72, 243);
    position: absolute;
    left: 0;

}

.i1{
    height:auto;
    width:100%;
    
    text-align: left;
    background-color: rgb(243, 243, 243);
    border: 3px solid black;
}
.head{
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
}
.main .MuiButton-root{
    border:3px solid black;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px;;
}
.nq .MuiButton-root {
    border:3px solid black;
    position: fixed;
    right: 0;
    bottom: 7%;
    margin: 30px;;
}
.pq .MuiButton-root {
    border:3px solid black;
    width: fit-content;
     
    left : 0%;
    bottom:7%;
    margin-left: 25%;
}