.student {
  height: 100vh;
  width: 100vw;
  background-image: url("../Images/iStock-1181462219-1-1-1024x576.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.student .nav {
  height: 50px;
  width: 100%;
  background-color: #1a477f;
  position: sticky;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav .MuiButton-root {
  color: white;
}

.student .block {
  height: 350px;
  width: 400px;
  background-color: #1a477f;
  position: absolute;
  right: 10%;
  bottom: 50%;
  transform: translate(0, 50%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 5px rgba(223, 215, 215, 0.673);
}

.block .container {
  height: 250px;
  width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}
.student .fortune{
  position: fixed;
  left: 50px;
  top: 100px;
}
