.std {
    height: 100vh;
    width: 100vw;
    background-image: url("../Images/bluebg.jpg");
  }
  .content {
    display: inline;
  }
  .std .content {
    height: 100%;
    width: 100%;
  }
  .std nav {
    height: 10%;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 100px;
    font-weight: 800;
    font-size: 40px;
  }
  .std .std1 {
    height: 100%;
    width: 60%;
    float: left;
  }
  
  .content .std2 {
    float: right;
    height: 100%;
    width: 40%;
    background-color: aqua;
  }
  .std2 .std22 {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    display: block;
  }
  
  .std1 .std11 {
    height: 70%;
    width: 70%;
    background-color: azure;
  }
  