@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.upload {
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../Images/bluebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.upload .head {
  position: relative;
  top: 35px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  font-size: 40px;
}
.uploadfile {
  height: 500px;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  border-radius: 25px;
  border-style: solid;
  border-color: #1e2b60;
}

.uploadfile label {
  width: 100%;
  font-weight: 700;
  padding-left: 30px;
}

.uploadfile .MuiFormLabel-root{
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
  top: 20px;
}

.uploadfile .MuiButton-root {
  width: auto;
  height: auto;
  font-weight: 500;
}
.divider {
  margin-top: 15px;
}
